@import url(https://fonts.googleapis.com/css2?family=Imprima&family=Satisfy&display=swap);
/* ------------------------------------------------------------------------- &MIXINS/EXTENDS ---- */
.form__input--file::-webkit-file-upload-button {
  border: 1px solid #7874ff;
  padding: 5px 10px;
  margin-right: 5px;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  border-color: #7874ff;
  background-color: #e4e3ff;
  color: #7874ff;
  -webkit-transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.pagination__item, .pagination__item--disabled, .pagination__item--active, .btn--table, .l-page-nav__link, .form__input--file::file-selector-button, .input--btn {
  border: 1px solid #7874ff;
  padding: 5px 10px;
  margin-right: 5px;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  border-color: #7874ff;
  background-color: #e4e3ff;
  color: #7874ff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--file:hover::-webkit-file-upload-button {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  -webkit-transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.pagination__item:hover, .pagination__item--disabled:hover, .pagination__item--active:hover, .btn--table:hover, .l-page-nav__link:hover, .form__input--file:hover::file-selector-button, .input--btn:hover {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--file:focus::-webkit-file-upload-button {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  -webkit-transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.pagination__item:focus, .pagination__item--disabled:focus, .pagination__item--active:focus, .btn--table:focus, .l-page-nav__link:focus, .form__input--file:focus::file-selector-button, .input--btn:focus {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

.pagination__item--disabled, .pagination__item--active {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Imprima", sans-serif;
  font-size: 14px;
  background: rgb(243, 200, 255);
  background: linear-gradient(320deg, rgb(243, 200, 255) 0%, rgb(191, 191, 255) 100%);
}

a {
  color: #7874ff;
  transition: color 0.2s;
}
a:hover {
  color: #de7cff;
  transition: color 0.2s;
}

h1 {
  font-family: "Satisfy", serif;
  font-size: 44px;
  font-weight: normal;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  display: inline-block;
  position: relative;
}
h1 span {
  background: linear-gradient(#d7d5ff, #d7d5ff) 0 80%/100% 20px no-repeat;
  height: 15px;
}

/* ---------------------------------------------------------------------------------- &FORMS ---- */
.form__fieldset {
  width: 60%;
  margin: 30px auto;
  border: 1px solid #7874ff;
  padding: 20px 40px;
  text-align: center;
}

.form__label, .form__btns, .form__checkbox {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}
.form__label:first-child, .form__btns:first-child, .form__checkbox:first-child, .form__label .form__legend + .form__label, .form__btns .form__legend + .form__label, .form__label .form__legend + .form__btns, .form__btns .form__legend + .form__btns, .form__checkbox .form__legend + .form__label, .form__checkbox .form__legend + .form__btns, .form__label .form__legend + .form__checkbox, .form__btns .form__legend + .form__checkbox, .form__checkbox .form__legend + .form__checkbox {
  margin-top: 0;
}

.form__input, .form__input--search, .form__select {
  border: 1px solid #7874ff;
  background-color: #e4e3ff;
  width: 50%;
  border-color: #7874ff;
  background-color: #e4e3ff;
  color: #7874ff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input:hover, .form__input--search:hover, .form__select:hover {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input:focus, .form__input--search:focus, .form__select:focus {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

.form__input--file {
  border: 1px solid #7874ff;
  border-color: #7874ff;
  color: #7874ff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
  padding: 5px;
  width: 50%;
}
.form__input--file:hover {
  border-color: #de7cff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--file:focus {
  border-color: #de7cff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--search {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__input--checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #e4e3ff;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  font: inherit;
  color: #7874ff;
  width: 15px !important;
  height: 15px;
  border: 1px solid #7874ff;
  display: inline-grid;
  place-content: center;
  border-color: #7874ff;
  background-color: #e4e3ff;
  color: #7874ff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--checkbox::before {
  content: "";
  width: 9px;
  height: 9px;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 9px 9px #7874ff;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.form__input--checkbox:checked::before {
  transform: scale(1);
}
.form__input--checkbox:hover {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}
.form__input--checkbox:focus {
  border-color: #de7cff;
  background-color: #f8e5ff;
  color: #de7cff;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

.form__btns:first-of-type {
  margin-top: 20px;
}

.form__error {
  color: #e20000;
}

/* --------------------------------------------------------------------------------- &TABLES ---- */
.table {
  margin: 0 auto;
  border-collapse: collapse;
}

.table tr, .table td, .table th {
  border: 1px solid #7874ff;
}

.table td {
  min-width: 30px;
}

.table__thead, .table__thead th {
  font-weight: normal;
  background-color: #d7d5ff;
  border-color: #7874ff;
  color: #7874ff;
}

.table__thead th {
  padding: 5px;
}

.table__tbody td {
  text-align: center;
  padding: 5px 10px;
}

.table__tbody img {
  max-height: 50px;
  margin: auto;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-container {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  background-color: #f8f8ff;
  border: 1px solid #7874ff;
  display: grid;
  grid-template-rows: 7% auto;
  grid-template-columns: auto;
}

.l-nav {
  grid-row: 1/2;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #7874ff;
}

.l-nav__tab {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: unset;
  color: #7874ff;
  cursor: pointer;
  transition: color 0.2s;
  border: none;
  border-left: 1px solid #7874ff;
}
.l-nav__tab:hover {
  color: #de7cff;
  transition: color 0.2s;
}
.l-nav__tab:first-child {
  border-left: none;
}

.l-page-nav {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.l-page-nav__links {
  flex-grow: 1;
  text-align: right;
  margin-right: 40px;
}

.l-page-nav__link {
  text-decoration: none;
}

.l-main {
  grid-row: 2/3;
  padding: 10px 40px;
  overflow: auto;
}

.success {
  background-color: #b7ff9f;
  border: 1px solid #30be00;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
}

.warning {
  background-color: #ffeaad;
  border: 1px solid #ebb000;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
}

.error {
  background-color: #ffaaaa;
  border: 1px solid #e20000;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
}

/* ----------------------------------------------------------------------------- &PAGINATION ---- */
.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pagination a {
  text-decoration: none;
}

.pagination__item, .pagination__item--disabled, .pagination__item--active {
  margin: 0;
}
.pagination__item:not(:last-child), .pagination__item--disabled:not(:last-child), .pagination__item--active:not(:last-child) {
  border-right: none;
}

/* ----------------------------------------------------------------------------------- &BTNS ---- */
.btn--table {
  margin: 0;
}

.text--error {
  color: #e20000;
}

.text--warning {
  color: #ebb000;
}

.text--success {
  color: #30be00;
}
