@use 'vars' as *;
@use 'sass:color';

@mixin msg($color) {
	background-color: color.scale($color, $lightness: 70%);
	border: 1px solid $color;

	padding: 10px;
	width: 60%;
	margin: 10px auto;
}

.success { @include msg($c-green); }
.warning { @include msg($c-yellow); }
.error   { @include msg($c-red); }